<%=render "shared/menu"%>

<div class="container">
<div class="">
    <%= link_to "New Post", new_topic_post_path(@topic), remote: true, class: "btn btn-primary" %>
    Topic: <%=@topic.title%>
  </div>
  <div class="new-post"></div>
  
<div id="post-index">
<%= render "show" %>
</div>
</div>

<div id="post-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-post-modal" class="modal-content">
    </div>
  </div>
</div>