<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @topic.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user.email %>
</p>
<p>
  <strong>Created:</strong>
  <%= @topic.created_at %>
</p>