<%=render "shared/menu"%>

<div class="container">
<div class="">
     <div class="page-header">
    <h2><%=@topic.title%></h2><h4><%= link_to "Show Description", topic_showDescription_path(@topic), remote: true %></h4> </div>
  </div>
  <div class="new-post"></div>
  
<div id="post-index">
<%= render "show" %>
</div>
</div>

<div id="post-modal" class="modal fade">
  <div class="modal-dialog">
   <div class="modal-content">
    <div id="inner-post-modal" class="modal-body">
    </div>
    </div>
  </div>
</div>

<div id="topic-modal" class="modal fade">
  <div class="modal-dialog">
  <div class="modal-content">
    <div id="inner-topic-modal" class="modal-body">
    </div>
    </div>
  </div>
</div>