<p>
  <strong>Title:</strong>
  <%= @post.topic.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <body><%= @post.text %></body>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.nick %>
</p>
<p>
  <strong>Created:</strong>
  <%= @post.created_at %>
</p>