<p>
  <strong>Topic title:</strong>
  <%= @post.topic.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <body><%= @post.text %></body>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @post.user.nick,user_path(@post.user),remote: false %>
</p>
<p>
  <strong>Created:</strong>
  <%= @post.created_at %>
</p>