<%= render "shared/menu" %>
<div class="container">


  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Author</th>
        <th>Created at</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="post-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>

<div id="post-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-post-modal" class="modal-content">
    </div>
  </div>
</div>
