<%= render "shared/menu" %>
<div class="container">


  <div class="page-header">
    <h2>Posts</h2> </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Topic's Title</th>
        <th>Author</th>
        <th>Created at</th>
        <td>&nbsp;</td>
        
      </tr>
    </thead>
    <tbody class="post-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>

<div id="post-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    <div id="inner-post-modal" class="modal-body">
    </div>
    </div>
  </div>
</div>
