<nav class="nav nav-justified" role="navigation">
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a class="btn "href="message.html"><span class="glyphicon glyphicon-envelope"> <span class="badge">1</span></span></a></li>
        <% if user_signed_in? %>
        <li><a href="../topics/new">Add Topic</a></li>
        <li><a href="../post/new">Add Post</a></li>
        <li><%=link_to "Sign Out", destroy_user_session_path, :method => :delete%></li>
        <%else%>
        <li><%=link_to "Sign In", new_user_session_path, :method => :get%></li>
        <li><%=link_to "Sign Up", new_user_registration_path, :method => :get%></li>
        <% end %>
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
 
      
    </div><!-- /.navbar-collapse -->

</nav>
